<!-- Main section containing the entire content of the page -->
<section class="main">

    <!-- Background slideshow containing multiple slides -->
    <div class="background-slideshow">

        <!-- Slide for Lobby -->
        <div class="slide" style="background-image: url('../../../assets/images/lobby.jpeg');">
            <div class="notification">
                <div class="notiglow"></div>
                <div class="notiborderglow"></div>
                <div class="notititle">Welcome to Lobby</div>
                <div class="notibody">Three doors offer distinct immersive experiences: NOC, SOC, and EKara GREEN's advanced solutions.</div>
            </div>
        </div>

        <!-- Slide for Ekara Green -->
        <div class="slide" style="background-image: url('../../../assets/images/ekaragreen.jpeg');">
            <div class="notification">
                <div class="notiglow"></div>
                <div class="notiborderglow"></div>
                <div class="notititle">Welcome To Ekara green</div>
                <div class="notibody">Ekara Green offers in-depth carbon impact solutions for user journeys and applications.</div>
            </div>
        </div>

        <!-- Slide for NOC Room -->
        <div class="slide" style="background-image: url('../../../assets/images/noc.jpeg');">
            <div class="notification">
                <div class="notiglow"></div>
                <div class="notiborderglow"></div>
                <div class="notititle">Welcome To Noc Room</div>
                <div class="notibody">A VR-modeled NOC simulates large-scale network management, enhancing user interaction and incident response.</div>
            </div>
        </div>

        <!-- Slide for Troubleshooting Room -->
        <div class="slide" style="background-image: url('../../../assets/images/trouble.jpeg');">
            <div class="notification">
                <div class="notiglow"></div>
                <div class="notiborderglow"></div>
                <div class="notititle">Welcome To Troubleshooting Room</div>
                <div class="notibody">Simulates issue resolution environments, enhancing user interaction and problem-solving efficiency.</div>
            </div>
        </div>
    </div>

    <!-- Bottom grid section for displaying error messages -->
    <div class="bottom-grid">
        <div *ngIf="testerr">
            <div class="alert alert-danger" role="alert">
                {{messageerr}}
            </div>
        </div>
    </div>

    <!-- Sign-in form section -->
    <div style="background-color: rgba(49, 47, 47, 0.088); border-radius: 10%;" class="content-w3ls blurred-background">
        <div class="text-center icon">
            <h1 style="color:white !important; font-size: 35px !important;">Sign in</h1>
            <img src="https://i.ibb.co/SKzDdPh/OCTOC-New-Version-Icon-White.png" width="130" height="130" class="logo-img fa fa-meetup">
        </div>
        <div class="content-bottom">
            <form action="#" method="post">
                <div class="field-group">
                    <span class="fa fa-user" aria-hidden="true"></span>
                    <div class="wthree-field">
                        <input name="email" [(ngModel)]="email" id="email" type="text" value="" placeholder="Email" required>
                    </div>
                </div>
                <div class="field-group">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <div class="wthree-field">
                        <input name="password" [(ngModel)]="password" id="password" type="password" placeholder="Password">
                    </div>
                </div>
                <div class="wthree-field">
                    <button type="submit" (keyup.enter)="load()" (click)="load()" class="btn">Sign in</button>
                </div>
                <div *ngIf="loading" class="loading-popup">
                    <div class="loader">Loading
                        <span></span>
                    </div>
                </div>
                <ul class="list-login">
                    <li class="switch-agileits">
                        <a routerLink="/reset" style="color:red !important;" class="text-right">Forgot password?</a>
                    </li>
                    <li></li>
                    <li class="clearfix"></li>
                </ul>
            </form>
        </div>
    </div>

    <!-- Footer section with copyright information -->
    <div class="copyright">
        <p>© {{currentYear}} OCTOC. All rights reserved</p>
    </div>
</section>
