<div id="wrapper">
  <!-- Sidebar -->
  <ul
    [ngClass]="{ toggled: sidebarToggled, 'sidebar-toggled': sidebarToggled }"
    class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion custom-sidebar"
    id="accordionSidebar"
  >
    <!-- Sidebar content here -->

    <!-- Sidebar - Brand -->
    <div class="sidebar-brand-text mx-4 mt-3 text-center">
      <img
        src="https://i.ibb.co/SKzDdPh/OCTOC-New-Version-Icon-White.png"
        alt="Logo"
        width="80"
        height="80"
      />
    </div>

    <!-- Divider -->
    <hr class="sidebar-divider my-3" />

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
      <a class="nav-link" href="" routerLink="./dashboard">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a
      >
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider" />

    <!-- Heading -->
    <div class="sidebar-heading">User Management</div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapseTwo"
        aria-expanded="true"
        aria-controls="collapseTwo"
      >
        <i class="fas fa-fw fa-users"></i>
        <span>Employees</span>
      </a>
      <div
        id="collapseTwo"
        class="collapse"
        aria-labelledby="headingTwo"
        data-parent="#accordionSidebar"
      >
        <div class="bg-light py-2 collapse-inner rounded">
          <h6 class="collapse-header">Manage Employees:</h6>
          <a class="collapse-item" routerLink="./Listemployees">All Employees</a>
          <a class="collapse-item" routerLink="./Addemployees">Add an Employee</a>
        </div>
      </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li *ngIf="role=='COMPANY'" class="nav-item">
      <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapseUtilitiess"
        aria-expanded="true"
        aria-controls="collapseUtilitiess"
      >
        <i class="fas fa-fw fa-user"></i>
        <span>Sub-Manager</span>
      </a>
      <div
        id="collapseUtilitiess"
        class="collapse"
        aria-labelledby="headingUtilities"
        data-parent="#accordionSidebar"
      >
        <div class="bg-light py-2 collapse-inner rounded">
          <h6 class="collapse-header">Manage Sub-managers:</h6>
          <a class="collapse-item" routerLink="./Listsubmanager">All Sub-managers</a>
          <a class="collapse-item" routerLink="./Addsubmanager">Add Sub-manager</a>
        </div>
      </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider" />

    <!-- Heading -->
    <div class="sidebar-heading">Noc Management</div>
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapseUtilities"
        aria-expanded="true"
        aria-controls="collapseUtilities"
      >
        <i class="fas fa-fw fa-tv"></i>
        <span>Noc Room</span>
      </a>
      <div
        id="collapseUtilities"
        class="collapse"
        aria-labelledby="headingUtilities"
        data-parent="#accordionSidebar"
      >
        <div class="bg-light py-2 collapse-inner rounded">
          <h6 class="collapse-header">Manage Noc-Room:</h6>
          <a class="collapse-item" routerLinkActive="selected" routerLink="./NocRoom">All Noc Rooms</a>
          <a class="collapse-item" routerLinkActive="selected" routerLink="./AddNocRoom">Add Noc Room</a>
          <a class="collapse-item" routerLinkActive="selected" routerLink="./ExternalAccounts">External Accounts</a>
        </div>
      </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider" />

    <!-- Heading -->
    <div class="sidebar-heading">Virtual Reality World</div>
    <li class="nav-item">
      <a class="nav-link" href="" routerLink="./Code">
        <i class="fas fa-fw fa-key"></i>
        <span>Access Code</span></a
      >
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider" />

    <!-- Heading -->
    <div class="sidebar-heading">Log Out</div>
    <li class="nav-item">
      <a class="nav-link" href="" (click)="logout()">
        <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
        <span>Log Out</span></a
      >
    </li>
  </ul>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <!-- Sidebar Toggle (Topbar) -->
        <button
          (click)="toggleSidebar()"
          id="sidebarToggleTop"
          class="btn btn-link d-md-none rounded-circle mr-3"
        >
          <i class="fa fa-bars"></i>
        </button>

        <div>
          <div class="header-container">
            <div class="header-bubble">
              <span class="header-text">Welcome {{name}}</span>
            </div>
            <div class="header-bubble">
              <span class="header-text">Role: {{role}}</span>
            </div>
          </div>
        </div>
      </nav>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div
        class="container-fluid"
        [ngClass]="{
          'col-md-9': !sidebarToggled,
          'ms-sm-auto': !sidebarToggled,
          'col-lg-10': !sidebarToggled,
          'px-md-4': !sidebarToggled
        }"
      >
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>&copy;{{ CurrentYear }} All Rights Reserved</span> <br />
          <span class="mt-2">Made with ❤️ by Ip-label</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div
  class="modal fade"
  id="logoutModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Select "Logout" below if you are ready to end your current session.
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">
          Cancel
        </button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>
