<div class="text-left">
  <h1 class="h4 text-gray-900 mb-4 font-italic"><i class="fa fa-user-plus" aria-hidden="true"></i> Add New Sub-Admin</h1>
</div>

<div class="container mt-3">
<div class="card" style="width: 48rem;">

  <form>
      <div class="form-input">
        <label for="company-name label"><i class="fa fa-user"></i> Sub-Admin Name</label>
        <input type="text" id="company-name" name="company-name" required>
      </div>

      <div class="form-input">
        <label for="company-phone"><i class="fa fa-phone"></i> Sub-Admin Phone Number</label>
        <input type="tel" id="company-phone" name="company-phone" required>
      </div>
      <div class="form-input">
        <label for="company-email"><i class="fa fa-envelope"></i> Sub-Admin Email</label>
        <input type="email" id="company-email" name="company-email" required>
      </div>

      <div class="form-input">
        <button style="background-color: #60067D !important;" type="submit"><i class="fa fa-send"></i> Submit</button>
      </div>
    </form>
</div>
