<div style="overflow-x: scroll;" class="mb-3 p-3">
    <div class="overlay" *ngIf="loading">
      <img src="https://i.postimg.cc/sxgWhs6r/ekara.png" width="130" heigh="130" alt="Logo 2" class="logo">
      <div class="loader">
        <li class="ball"></li>
        <li class="ball"></li>
        <li class="ball"></li>
      </div>
    </div>
  
    <div class="text-left">
      <h1 class="h4 text-gray-900 font-italic"><i class="fa fa-tv" aria-hidden="true"></i> Add Noc Room</h1>
    </div>
  
    <ng-container *ngFor="let alert of alert">
      <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
    </ng-container>
    
    <div class="card" style="width: 68rem;">
      <div *ngIf="nextUser==0">
        <div class="row align-items-center">
          <div class="col-sm-10">
            <div class="form-input">
              <label for="company-name">Noc Room Name</label>
              <input [(ngModel)]="nocroomname" type="text" id="company-name" name="company-name" class="form-control">
            </div>
          </div>
          <div class="col-sm-2 d-flex justify-content-end">
            <button class="btn btn-submit" type="button" (click)="nextStep()">Next <i class="fa fa-arrow-right"></i></button>
          </div>
        </div>
        
        <hr>
        <h3 class="text-center"><i>Add Monitors</i></h3>
        <div class="row">
          <div class="col-4" *ngFor="let item of items; let i = index">
            <!-- Content card -->
            <div *ngIf="item.type === 'content' && item.active" class="outer-card">
              <div class="inner-card d-flex align-items-center justify-content-center">
                {{ item.number }}
              </div>
              <div class="api-interaction d-flex justify-content-between align-items-center mb-3">
                <label class="flex-grow-1">Service Account: {{ item.nameSource }} ({{ item.typeSource }})</label>
                <div class="d-flex align-items-center">
                  <input class="form-check-input" type="checkbox" aria-label="Checkbox for following text input"
                         [(ngModel)]="item.selectedIndice" (change)="updateSelectedCount()"
                         *ngIf="item.active && (item.selectedIndice || shouldDisplayCheckbox())">
                  <i class="fa fa-trash text-danger" style="cursor: pointer;" aria-hidden="true" *ngIf="item.active"
                     (click)="deleteItem(item.id,item.graphId); updateSelectedCount()"></i>
                </div>
                
              </div>
              <select class="form-select" [(ngModel)]="item.selectedIndice" (ngModelChange)="onChartSelected($event)" aria-label="Chart selector">
                <option *ngFor="let service of Services" [value]="service.indice" [disabled]="service.status">
                  {{ service.name }}
                </option>
              </select>
              <button *ngIf="displaybuttpnGrafana" (click)="openGrafanaConfig(item.id)" mat-raised-button color="accent" class="btn btn-warning mt-3 d-flex justify-content-between" type="button">Configure Grafana Monitor</button>
              <a *ngIf="item.apiLink" target="_blank" href="{{item.apiLink}}" class="btn btn-outline-secondary mt-2">Explore Grafana Graph</a>
    
  
            </div>
            <!-- Add card -->
            <div *ngIf="item.type === 'add'" class="outer-card" (click)="addNewItem(i)">
              <div class="inner-card2 d-flex align-items-center justify-content-center"
                style="background-color: #E6E6E6; border-radius: 10px;">
                <i class="fa fa-plus" aria-hidden="true" style="font-size: 24px; color: #555;"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="nextUser==1">
        <div class="row align-items-center">
          <div class="col-sm-2 d-flex justify-content-end">
            <button class="btn btn-submit" type="button" (click)="backStep()">Back <i class="fa fa-arrow-left"></i></button>
          </div>
          <div class="col-sm-8">
            <div class="form-input">
              <label for="company-name">Search User:</label>
              <input [(ngModel)]="searchText" type="text" id="company-name" name="company-name" class="form-control">
            </div>
          </div>
          <div class="col-sm-2 d-flex justify-content-end">
            <button (click)="save()" class="btn btn-submit" type="submit" ><i class="fa fa-plus"></i> Add Noc Room</button>
          </div>
        </div>
        <hr>
        <h3 class="text-center"><i>Add Users</i></h3>
        <div class="row">
          <div class="col-4" *ngFor="let user of filteredUsers | filter:searchText">
            <div class="card mb-3 selectable" style="width: 18rem; cursor: pointer;"
              (click)="selectUser(user)">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <img src="https://api.dicebear.com/7.x/big-ears/svg?seed={{user.firstname}}"
                    class="rounded-circle me-2" alt="{{ user.firstname}}" style="width: 50px; height: 50px;">
                  <h5 class="card-title mb-0 flex-grow-1">{{ user.firstname }} {{ user.lastname }}</h5>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="user.selected"
                    (change)="onCheckboxChange($event, user)">
                  </div>
                </div>
              </div>
              <div class="card-footer d-flex align-items-center justify-content-end">
                <span class="dot" [style.backgroundColor]="user.isOnline ? 'rgb(7, 211, 7)' : 'grey'"
                  style="height: 10px; width: 10px; border-radius: 50%; display: inline-block; margin-right: 5px;"></span>
                <span [style.color]="user.isOnline ? 'rgb(7, 211, 7)' : 'grey'">{{ user.isOnline ? 'Online' : 'Offline' }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  