<div style="overflow-x: hidden;" class="mb-3 p-3 position-relative">
  <div class="overlay" *ngIf="loading">
    <img src="https://i.postimg.cc/sxgWhs6r/ekara.png" width="130" height="130" alt="Logo 2" class="logo">
    <div class="loader">
      <li class="ball"></li>
      <li class="ball"></li>
      <li class="ball"></li>
    </div>
  </div>

  <div class="text-left mb-4">
    <h1 class="h4 text-gray-900 font-italic"><i class="fa fa-tv" aria-hidden="true"></i> Update NOC Room</h1>
  </div>

  <ng-container *ngFor="let alert of alert">
    <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
  </ng-container>
  
  <div class="card shadow-lg p-4">
    <div *ngIf="nextUser==0">
      <div class="row align-items-center mb-4">
        <div class="col-sm-10">
          <div class="form-input">
            <label for="noc-room-name"><i class="fa fa-building"></i> NOC Room Name</label>
            <input [(ngModel)]="nocroomname" type="text" id="noc-room-name" name="noc-room-name" class="form-control">
          </div>
        </div>
        <div class="col-sm-2 d-flex justify-content-end">
          <button class="btn btn-submit" type="button" (click)="nextStep()">Next <i class="fa fa-arrow-right"></i></button>
        </div>
      </div>
      
      <hr>
      <h3 class="text-center mb-4"><i>Update Monitors</i></h3>
      <div class="row">
        <div class="col-md-4 mb-3" *ngFor="let item of items; let i = index">
          <!-- Content card -->
          <div *ngIf="item.type === 'content' && item.active" class="outer-card shadow-sm p-3">
            <div class="inner-card d-flex align-items-center justify-content-center">
              <ng-container *ngIf="item.apiLink; else showNumber">
                <iframe onload="this.contentWindow.document.documentElement.scrollTop=380" #iframe [src]="item.apiLink | safe" width="100%" height="200" frameborder="0" scrolling="no" style="pointer-events: none;"></iframe>
              </ng-container>
              <ng-template #showNumber>
                {{ item.number }}
              </ng-template>
            </div>
            <div class="api-interaction d-flex justify-content-between align-items-center mb-3">
              <label class="flex-grow-1">Service Account: {{ item.nameSource }} ({{ item.typeSource }})</label>
              <div class="d-flex align-items-center">
                <input class="form-check-input" type="checkbox" aria-label="Checkbox for following text input"
                      [(ngModel)]="item.selectedIndice" (change)="updateSelectedCount()"
                      *ngIf="item.active && (item.selectedIndice || shouldDisplayCheckbox())">
                <i class="fa fa-trash text-danger trash-icon" aria-hidden="true" *ngIf="item.active"></i>
              </div>
            </div>
            <select class="form-select mb-3" [(ngModel)]="item.selectedIndice" (ngModelChange)="onChartSelected($event)" aria-label="Chart selector">
              <option *ngFor="let service of Services" [value]="service.indice" [disabled]="service.status">
                {{ service.name }}
              </option>
            </select>
            <button *ngIf="displaybuttpnGrafana" (click)="openGrafanaConfig(item.id)" class="btn btn-warning d-flex justify-content-between mb-2" type="button">Configure Grafana Monitor</button>
            <a *ngIf="item.apiLink" target="_blank" href="{{item.apiLink}}" class="btn btn-outline-secondary">Explore Grafana Graph</a>
          </div>
          <!-- Add card -->
          <div *ngIf="item.type === 'add'" class="outer-card shadow-sm p-3" (click)="addNewItem(i)">
            <div class="inner-card2 d-flex align-items-center justify-content-center">
              <i class="fa fa-plus" aria-hidden="true" style="font-size: 24px; color: #555;"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="nextUser==1">
      <div class="row align-items-center mb-4">
        <div class="col-sm-2 d-flex justify-content-end">
          <button class="btn btn-submit" type="button" (click)="backStep()">Back <i class="fa fa-arrow-left"></i></button>
        </div>
        <div class="col-sm-8">
          <div class="form-input">
            <label for="search-user"><i class="fa fa-search"></i> Search User:</label>
            <input [(ngModel)]="searchText" type="text" id="search-user" name="search-user" class="form-control">
          </div>
        </div>
        <div class="col-sm-2 d-flex justify-content-end">
          <button (click)="save()" class="btn btn-submit" type="submit"><i class="fa fa-save"></i> Update NOC Room</button>
        </div>
      </div>
      <hr>
      <h3 class="text-center mb-4"><i>Update Users</i></h3>
      <div class="row">
        <div class="col-md-4 mb-3" *ngFor="let user of filteredUsers | filter:searchText">
          <div class="card selectable shadow-sm p-3" style="cursor: pointer;" (click)="selectUser(user)">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <img src="https://api.dicebear.com/7.x/big-ears/svg?seed={{user.firstname}}" class="rounded-circle me-2" alt="{{ user.firstname }}" style="width: 50px; height: 50px;">
                <h5 class="card-title mb-0 flex-grow-1">{{ user.firstname }} {{ user.lastname }}</h5>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" [(ngModel)]="user.selected" (change)="onCheckboxChange($event, user)">
                </div>
              </div>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-end">
              <p (click)="copyEmail(user.email)" class="btn btn-outline-info ml-2">{{ formatEmail(user.email) }}</p>
              <span class="dot ml-2" [style.backgroundColor]="user.isOnline ? 'rgb(7, 211, 7)' : 'grey'"></span>
              <span [style.color]="user.isOnline ? 'rgb(7, 211, 7)' : 'grey'">{{ user.isOnline ? 'Online' : 'Offline' }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
