<div class="container mb-5 mt-5">
  <div class="card shadow">
<p class="text-center mt-5 h3">Your access code is :</p> <br>
<h1 style="
    text-align: center;
    font-size: 100px;
    color: #b90808;
    font-weight: 900;
    margin-top: 50px;
    margin-bottom: 50px;
">1234</h1>

<br>

<em class="text-center mt-5 h5 ">Please enter this code in your Vr app to access your Noc Room</em>
<em class="text-center h6 text-muted">Note that this code is temporary and will be deleted if you log out.</em>
  </div>
</div>
