<div class="container">
  <div class="card">
    <div class="card-header">
      <button [ngStyle]="getButtonStyle('jira')" (click)="selectForm('jira')">
        <img
          src="https://cdn.icon-icons.com/icons2/2699/PNG/512/atlassian_jira_logo_icon_170511.png"
          alt="Jira"
          class="icon"
        />
        Jira Account
      </button>
      <div class="divider"></div>
      <button
        [ngStyle]="getButtonStyle('grafana')"
        (click)="selectForm('grafana')"
      >
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Grafana_icon.svg/1969px-Grafana_icon.svg.png"
          alt="Grafana"
          class="icon"
        />
        Grafana Account
      </button>
    </div>
    <div class="card-body">
      <ng-container *ngIf="selectedForm === 'jira'">
        <div *ngIf="jiraDataAvailable">
          <div>
            <h3>Your Jira account is connected!</h3>
            <div class="container">
              <div class="row">
                <div
                  (click)="openWebhookConfiguration()"
                  class="col card shadow m-2 d-flex align-items-center justify-content-center p-3"
                  style="font-size: 24px; cursor: pointer"
                >
                  <i
                    class="fa fa-cogs"
                    style="color: rgba(55, 16, 88, 0.941)"
                    title="Edit Account"
                  ></i>
                  <p style="font-size: 16px">Webhook settings</p>
                </div>
                <div
                  (click)="openEditForm()"
                  class="col card shadow m-2 d-flex align-items-center justify-content-center p-3"
                  style="font-size: 24px; cursor: pointer"
                >
                  <i
                    class="fas fa-edit"
                    style="color: rgba(108, 180, 235, 0.941)"
                    title="Edit Account"
                  ></i>
                  <p style="font-size: 16px">Edit account</p>
                </div>
                <div
                  (click)="openDialog()"
                  class="col card shadow m-2 d-flex align-items-center justify-content-center p-3"
                  style="font-size: 24px; cursor: pointer"
                >
                  <i
                    class="fas fa-trash-alt"
                    style="color: red"
                    title="Remove Account"
                  ></i>
                  <p style="font-size: 16px">Delete account</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="webhookconfigur == true">
          <div class="container">
            <div class="row">
              <div
                (click)="showAddWebhookForm()"
                class="col card shadow m-2 d-flex align-items-center justify-content-center p-3"
                style="font-size: 24px; cursor: pointer"
              >
                <i
                  class="fa fa-plus"
                  style="color: rgba(55, 16, 88, 0.941)"
                  title="Add Webhook"
                ></i>
                <p style="font-size: 16px">Add Webhook</p>
              </div>
              <div
                (click)="showExistingWebhooks()"
                class="col card shadow m-2 d-flex align-items-center justify-content-center p-3"
                style="font-size: 24px; cursor: pointer"
              >
                <i
                  class="fa fa-list"
                  style="color: rgba(108, 180, 235, 0.941)"
                  title="Display Existing Webhooks"
                ></i>
                <p style="font-size: 16px">Display Existing Webhooks</p>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="showWebhookForm">
          <h3><strong>Webhook Configuration</strong></h3>
          <div class="container">
            <div class="form-group">
              <label for="webhookurl">Webhook Name</label>
              <input
                type="text"
                name="nameWebhook"
                [(ngModel)]="nameWebhook"
                placeholder="Name Webhook"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <p *ngIf="selectedProjectName">Selected Project: {{ selectedProjectName }}</p>
              <label for="webhookurl">Select a project</label>
              <select
                [(ngModel)]="ProjectTypeVal"
                class="form-control p-2"
                (change)="selectProject($event)"
              >
                <option value="" disabled selected>Select a project</option>
                <option *ngFor="let project of projects" [value]="project.id">
                  {{ project.key }}
                </option>
              </select>
            </div>
            <div *ngIf="afficheIssuer == true" class="form-group">
              <label for="webhookurl">Select a Issue type</label>
              <select [(ngModel)]="IssueTypeVal" class="form-control p-2">
                <option value="" disabled selected>Select an issue type</option>
                <option
                  *ngFor="let webhook of issueType"
                  [value]="webhook.name"
                >
                  {{ webhook.name }}
                </option>
              </select>
            </div>
          </div>
          <button
            (click)="registreWebhook()"
            type="button"
            class="btn btn-primary"
          >
            <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
            <span *ngIf="!loading">Save</span>
          </button>

          <div class="alert alert-success" *ngIf="success==true">
webhook has been successfully created.
          </div>
        </div>
        <div *ngIf="showExistingWebhookList">
          <h3><strong>Existing Webhooks</strong></h3>
          <div class="container">
            <div class="list-group mt-2">
              <div *ngFor="let webhook of webhooks" class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                  <h3>{{ webhook.name }}</h3>
                  <p>ID: {{ extractIdFromSelf(webhook.self) }}</p>
                  <p>URL: {{ webhook.url }}</p>
                  <p>Description: {{ webhook.description || 'N/A' }}</p>
                  <p>Events: {{ webhook.events.join(', ') }}</p>
                  <p>Updated By: {{ webhook.lastUpdatedDisplayName }}</p>
                  <p>Updated At: {{ convertTimestamp(webhook.lastUpdated) }}</p>
                  <p>Enabled: {{ webhook.enabled ? 'Yes' : 'No' }}</p>
                </div>
                <button class="btn btn-danger" (click)="deleteWebhook(extractIdFromSelf(webhook.self))">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        
        
        <div *ngIf="editing">
          <h3><strong>Edit Your Jira Account</strong></h3>
          <form class="jira-form">
            <div class="form-group">
              <input
                type="text"
                name="jiraul"
                [(ngModel)]="jiraurl"
                placeholder="Jira URL"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <input
                name="jiraUsername"
                [(ngModel)]="jiraUsername"
                type="email"
                placeholder="Jira Username Or Email"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <input
                name="jiraToken"
                [(ngModel)]="jiraToken"
                type="password"
                placeholder="Jira Token"
                class="form-control"
              />
            </div>
            <button
              (click)="updateJira()"
              type="button"
              class="btn btn-primary"
            >
              <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
              <span *ngIf="!loading">Save</span>
            </button>
          </form>
          <div *ngIf="testing == true" class="alert alert-success">
            <strong>Success!</strong> Your Jira account has been successfully updated.
          </div>
          <div *ngIf="testing == false" class="alert alert-danger">
            <strong>Error!</strong> Your Jira account could not be updated. Please check your credentials.
          </div>
        </div>
        <div *ngIf="jiraDataAvailable == false">
          <div class="jira-form-container">
            <h3><strong>Connect Your Jira Account</strong></h3>
            <div class="info-text">
              <p class="font-italic">
                By linking your Jira account, you will enable:
              </p>
              <ul class="features-list">
                <li><strong>Issue & Incident Management</strong></li>
                <li><strong>Send & reply to tickets</strong></li>
                <li>
                  <strong>Automated Alert System</strong> that provides detailed
                  information without any additional configuration.
                </li>
              </ul>
            </div>
            <div class="alert alert-success" *ngIf="testing == true">
              <strong>Success!</strong> Your Jira account has been successfully connected.
            </div>
            <div class="alert alert-danger" *ngIf="testing == false">
              <strong>Error!</strong> Your Jira account could not be connected.
              Please check your credentials.
            </div>
            <form class="jira-form">
              <div class="form-group">
                <input
                  type="text"
                  name="jiraurl"
                  [(ngModel)]="jiraurl"
                  placeholder="Jira URL"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <input
                  name="jiraUsername"
                  [(ngModel)]="jiraUsername"
                  type="text"
                  placeholder="Jira Username Or Email"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <input
                  [(ngModel)]="jiraToken"
                  type="text"
                  name="jiraToken"
                  id="jira-token"
                  placeholder="Jira Token"
                  class="form-control"
                />
                <p class="token-info">
                  * To get your token, click the button.
                  <a
                    target="_blank"
                    href="https://id.atlassian.com/manage-profile/security/api-tokens"
                    ><i class="fa fa-external-link" aria-hidden="true"></i
                  ></a>
                </p>
              </div>
              <div class="form-group">
                <button
                  (click)="saveJira()"
                  type="button"
                  class="btn btn-outline-primary"
                >
                  <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
                  <span *ngIf="!loading">Submit</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="selectedForm === 'grafana'">
        <!-- Grafana Content -->
      </ng-container>
    </div>
  </div>
</div>