<div class="container">
  <div class="card">
    <div class="card-header">
      <button [ngStyle]="getButtonStyle('jira')" (click)="selectForm('jira')">
        <img
          src="https://cdn.icon-icons.com/icons2/2699/PNG/512/atlassian_jira_logo_icon_170511.png"
          alt="Jira"
          class="icon"
        />
        Jira Account
      </button>
      <div class="divider"></div>
      <button
        [ngStyle]="getButtonStyle('grafana')"
        (click)="selectForm('grafana')"
      >
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Grafana_icon.svg/1969px-Grafana_icon.svg.png"
          alt="Grafana"
          class="icon"
        />
        Grafana Account
      </button>
    </div>
    <div class="card-body">
      <ng-container *ngIf="selectedForm === 'jira'">
        <div *ngIf="jiraDataAvailable">
          <div>
            <h3>Your Jira account is connected!</h3>
            <div class="container">
              <div class="row">
                <div
                  (click)="openWebhookConfiguration()"
                  class="col card shadow m-2 d-flex align-items-center justify-content-center p-3"
                  style="font-size: 24px; cursor: pointer"
                >
                  <i
                    class="fa fa-cogs"
                    style="color: rgba(55, 16, 88, 0.941)"
                    title="Edit Account"
                  ></i>
                  <p style="font-size: 16px">Webhook settings</p>
                  <!-- Edit icon -->
                </div>
                <div
                  (click)="openEditForm()"
                  class="col card shadow m-2 d-flex align-items-center justify-content-center p-3"
                  style="font-size: 24px; cursor: pointer"
                >
                  <i
                    class="fas fa-edit"
                    style="color: rgba(108, 180, 235, 0.941)"
                    title="Edit Account"
                  ></i>
                  <p style="font-size: 16px">Edit account</p>
                  <!-- Edit icon -->
                </div>
                <div
                  (click)="openDialog()"
                  class="col card shadow m-2 d-flex align-items-center justify-content-center p-3"
                  style="font-size: 24px; cursor: pointer"
                >
                  <i
                    class="fas fa-trash-alt"
                    style="color: red"
                    title="Remove Account"
                  ></i>
                  <p style="font-size: 16px">Delete account</p>
                  <!-- Remove/Delete icon -->
                </div>
              </div>
            </div>
            <!-- Add more account details if necessary -->
          </div>
        </div>
        <div *ngIf="webhookconfigur == true">
          <h3><strong>Webhook Configuration</strong></h3>
          <div class="container">
            <div class="form-group">
              <label for="webhookurl">Webhook Name</label>
              <input
                type="text"
                name="nameWebhook"
                [(ngModel)]="nameWebhook"
                placeholder="Name Webhook"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <p *ngIf="selectedProjectName">Selected Project: {{ selectedProjectName }}</p>

              <label for="webhookurl">Select a project</label>
              <select
                [(ngModel)]="ProjectTypeVal"
                class="form-control p-2"
                (change)="selectProject($event)"
              >
                <option value="" disabled selected>Select a project</option>
                <option *ngFor="let project of projects" [value]="project.id">
                  {{ project.key }}
                </option>
              </select>
            </div>
            <div *ngIf="afficheIssuer == true" class="form-group">
              <label for="webhookurl">Select a Issue type</label>
              <select [(ngModel)]="IssueTypeVal" class="form-control p-2">
                <option value="" disabled selected>Select an issue type</option>
                <option
                  *ngFor="let webhook of issueType"
                  [value]="webhook.name"
                >
                  {{ webhook.name }}
                </option>
              </select>
            </div>
          </div>
          <button
            (click)="registreWebhook()"
            type="button"
            class="btn btn-primary"
          >
            <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
            <span *ngIf="!loading">Save</span>
          </button>
        </div>

        <div *ngIf="editing">
          <!-- Edit mode -->
          <h3><strong>Edit Your Jira Account</strong></h3>
          <form class="jira-form">
            <div class="form-group">
              <input
                type="text"
                name="jiraul"
                [(ngModel)]="jiraurl"
                placeholder="Jira URL"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <input
                name="jiraUsername"
                [(ngModel)]="jiraUsername"
                type="text"
                placeholder="Jira Username Or Email"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <input
                name="jiraToken"
                [(ngModel)]="jiraToken"
                type="password"
                placeholder="Jira Token"
                class="form-control"
              />
            </div>
            <button
              (click)="updateJira()"
              type="button"
              class="btn btn-primary"
            >
              <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>

              <span *ngIf="!loading">Save</span>
            </button>
          </form>
          <div *ngIf="testing == true" class="alert alert-success">
            <strong>Success!</strong> Your Jira account has been successfully
            updated.
          </div>
          <div *ngIf="testing == false" class="alert alert-danger">
            <strong>Error!</strong> Your Jira account could not be updated.
            Please check your credentials.
          </div>
        </div>
        <div *ngIf="jiraDataAvailable == false">
          <div class="jira-form-container">
            <h3><strong>Connect Your Jira Account</strong></h3>
            <div class="info-text">
              <p class="font-italic">
                By linking your Jira account, you will enable:
              </p>
              <ul class="features-list">
                <li><strong>Issue & Incident Management</strong></li>
                <li><strong>Send & reply to tickets</strong></li>
                <li>
                  <strong>Automated Alert System</strong> that provides detailed
                  information without any additional configuration.
                </li>
              </ul>
            </div>
            <div class="alert alert-success" *ngIf="testing == true">
              <strong>Success!</strong> Your Jira account has been successfully
              connected.
            </div>
            <div class="alert alert-danger" *ngIf="testing == false">
              <strong>Error!</strong> Your Jira account could not be connected.
              Please check your credentials.
            </div>
            <form class="jira-form">
              <div class="form-group">
                <input
                  type="text"
                  name="jiraurl"
                  [(ngModel)]="jiraurl"
                  placeholder="Jira URL"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <input
                  name="jiraUsername"
                  [(ngModel)]="jiraUsername"
                  type="text"
                  placeholder="Jira Username Or Email"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <input
                  [(ngModel)]="jiraToken"
                  type="text"
                  name="jiraToken"
                  id="jira-token"
                  placeholder="Jira Token"
                  class="form-control"
                />
                <p class="token-info">
                  * To get your token, click the button.
                  <a
                    target="_blank"
                    href="https://id.atlassian.com/manage-profile/security/api-tokens"
                    ><i class="fa fa-external-link" aria-hidden="true"></i
                  ></a>
                </p>
              </div>
              <div class="form-group">
                <button
                  (click)="saveJira()"
                  type="button"
                  class="btn btn-outline-primary"
                >
                  <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
                  <span *ngIf="!loading">Submit</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="selectedForm === 'grafana'">
        <div *ngIf="grafanaTest == true">
          <h3>Your Grafana account is connected!</h3>
          <div class="container">
            <div class="row">
              <div
                (click)="openEditGrafanaForm()"
                class="col card shadow m-2 d-flex align-items-center justify-content-center p-3"
                style="font-size: 24px; cursor: pointer"
              >
                <i
                  class="fas fa-edit"
                  style="color: rgba(108, 180, 235, 0.941)"
                  title="Edit Account"
                ></i>
                <!-- Edit icon -->
              </div>
              <div
                (click)="openGrafanaDialog()"
                class="col card shadow m-2 d-flex align-items-center justify-content-center p-3"
                style="font-size: 24px; cursor: pointer"
              >
                <i
                  class="fas fa-trash-alt"
                  style="color: red"
                  title="Remove Account"
                ></i>
                <!-- Remove/Delete icon -->
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="editingGrafana">
          <h3><strong>Edit Your Grafana Account</strong></h3>
          <div class="form-group">
            <input
              type="text"
              name="domainLink"
              [(ngModel)]="domainLink"
              placeholder="Grafana URL"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <input
              name="accountToken"
              [(ngModel)]="accountToken"
              type="password"
              placeholder="Bearer Token"
              class="form-control"
            />
          </div>
          <button
            (click)="updateGrafana()"
            type="button"
            class="btn btn-outline-warning"
          >
            <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>

            <span *ngIf="!loading">Save</span>
          </button>
          <div *ngIf="success == true" class="alert alert-success">
            <strong>Success!</strong> Your Grafana account has been successfully
            updated.
          </div>
          <div *ngIf="success == false" class="alert alert-danger">
            <strong>Error!</strong> Your Grafana account could not be updated.
            Please check your credentials.
          </div>
        </div>
        <div *ngIf="grafanaTest == false" class="card-body">
          <h2 class="text-center">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Grafana_logo.svg/1200px-Grafana_logo.svg.png"
              alt="Logo 1"
              style="margin-right: 10px; width: 50px; height: 50px"
            />
            <mat-icon style="font-size: 24px; margin: 0 12px">add</mat-icon>
            <img
              src="https://i.ibb.co/S33J1JS/441338763-1108629563696917-7906059505186540272-n.png"
              alt="Logo 2"
              style="margin-left: 10px; width: 50px; height: 50px"
            />
          </h2>

          <h3 class="text-center">Login with Grafana</h3>
          <p class="text-center text-muted">
            We provide all the security data you need to access your Grafana
            dashboards.<br />
            <i
              ><b
                >Your connection is always encrypted, and we adhere to the
                strictest security protocols.</b
              ></i
            >
          </p>

          <div
            class="alert alert-success"
            *ngIf="success == true"
            style="text-align: center"
          >
            <p>{{ msjStus }}</p>
          </div>
          <div
            class="alert alert-danger"
            *ngIf="success == false"
            style="text-align: center"
          >
            <p [innerHTML]="msjStus"></p>
          </div>

          <div
            style="display: flex; flex-direction: column; align-items: center"
          >
            <mat-form-field appearance="fill" style="width: 300px">
              <mat-label>Grafana Domain Link</mat-label>
              <input matInput type="text" [(ngModel)]="domainLink" required />
            </mat-form-field>
            <mat-form-field appearance="fill" style="width: 300px">
              <mat-label>Account Token</mat-label>
              <input
                matInput
                type="password"
                [(ngModel)]="accountToken"
                required
              />
            </mat-form-field>
          </div>

          <div class="text-center">
            <button mat-button color="warn">Cancel</button>
            <button
              mat-raised-button
              color="primary"
              (click)="addGrafanaUser()"
              [disabled]="loading"
            >
              <mat-spinner
                *ngIf="loading"
                [diameter]="20"
                [strokeWidth]="2"
              ></mat-spinner>
              <span *ngIf="!loading">Connect</span>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
