<div class="container">
    <div class="card">
      <div class="card-header">
        <button [ngStyle]="getButtonStyle('jira')" (click)="selectForm('jira')">
          <img src="https://cdn.icon-icons.com/icons2/2699/PNG/512/atlassian_jira_logo_icon_170511.png" alt="Jira" class="icon">
          Jira Account
        </button>
        <div class="divider"></div>
        <button [ngStyle]="getButtonStyle('grafana')" (click)="selectForm('grafana')">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Grafana_icon.svg/1969px-Grafana_icon.svg.png" alt="Grafana" class="icon">
          Grafana Account
        </button>
      </div>
      <div class="card-body">
        <ng-container *ngIf="selectedForm === 'jira'">
          <div *ngIf="jiraDataAvailable">
            <div>
              <h3>Your Jira account is connected!</h3>
              <div class="container">
                <div class="row">
                  <div  (click)="openEditForm()"  class="col card shadow m-2 d-flex align-items-center justify-content-center p-3" style="font-size: 24px; cursor: pointer;">
                    <i class="fas fa-edit" style="color: rgba(108, 180, 235, 0.941);" title="Edit Account"></i> <!-- Edit icon -->
                  </div>
                  <div (click)="openDialog()" class="col card shadow m-2 d-flex align-items-center justify-content-center p-3" style="font-size: 24px; cursor: pointer;">
                    <i class="fas fa-trash-alt" style="color: red;" title="Remove Account"></i> <!-- Remove/Delete icon -->
                  </div>
                </div>
              </div>
              <!-- Add more account details if necessary -->
            </div>
          </div>
          <div *ngIf="editing"> <!-- Edit mode -->
            <h3><strong>Edit Your Jira Account</strong></h3>
            <form class="jira-form">
              <div class="form-group">
                <input type="text" name="jiraul" [(ngModel)]="jiraurl" placeholder="Jira URL" class="form-control">
              </div>
              <div class="form-group">
                <input name="jiraUsername"[(ngModel)]="jiraUsername" type="text" placeholder="Jira Username Or Email" class="form-control">
              </div>
              <div class="form-group">
                <input name="jiraToken" [(ngModel)]="jiraToken" type="text" placeholder="Jira Token" class="form-control">
              </div>
              <button (click)="updateJira()" type="button" class="btn btn-primary">Save Changes</button>
            </form>
            <div *ngIf="testing==true" class="alert alert-success">
              <strong>Success!</strong> Your Jira account has been successfully updated.
            </div>
            <div  *ngIf="testing==false" class="alert alert-danger">
              <strong>Error!</strong> Your Jira account could not be updated. Please check your credentials.
              </div>
          </div>
          <div  *ngIf="jiraDataAvailable==false ">
            <div class="jira-form-container">
              <h3><strong>Connect Your Jira Account</strong></h3>
              <div class="info-text">
                <p class="font-italic">
                  By linking your Jira account, you will enable:
                </p>
                <ul class="features-list">
                  <li><strong>Issue & Incident Management</strong></li>
                  <li><strong>Send & reply to tickets</strong></li>
                  <li><strong>Automated Alert System</strong> that provides detailed information without any additional configuration.</li>
                </ul>
              </div>
              <div class="alert alert-success" *ngIf="testing ==true">
                <strong>Success!</strong> Your Jira account has been successfully connected.
              </div>
              <div class="alert alert-danger" *ngIf="testing==false">
                <strong>Error!</strong> Your Jira account could not be connected. Please check your credentials.
              </div>
              <form class="jira-form">
                <div class="form-group">
                  <input type="text" name="jiraurl" [(ngModel)]="jiraurl" placeholder="Jira URL" class="form-control">
                </div>
                <div class="form-group">
                  <input name="jiraUsername" [(ngModel)]="jiraUsername" type="text" placeholder="Jira Username Or Email" class="form-control">
                </div>
                <div class="form-group">
                  <input [(ngModel)]="jiraToken" type="text" name="jiraToken" id="jira-token" placeholder="Jira Token" class="form-control">
                  <p class="token-info">* To get your token, click the button. <a  target="_blank" href="https://id.atlassian.com/manage-profile/security/api-tokens"><i class="fa fa-external-link" aria-hidden="true"></i></a></p>
                </div>
                <div class="form-group">
                  <button (click)="saveJira()" type="button" class="btn btn-outline-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="selectedForm === 'grafana'">
          <form>
            <input type="text" placeholder="Grafana Dashboard">
            <button type="submit">Submit</button>
          </form>
        </ng-container>
      </div>
    </div>
  </div>
  