<div class="text-left">
    <h1 class="h4 text-gray-900 mb-4 font-italic"><i class="fa fa-user-plus" aria-hidden="true"></i> Add New Client</h1>
</div>

<div class="container mt-3">
<div class="card" style="width: 48rem;">

  <form [formGroup]="AddCompany" >
    <div class="form-input">
      <label for="company-name label"><i class="fa fa-building"></i> Company Name</label>
      <input type="text" id="company-name" name="company-name" formControlName="name" required>
      <div *ngIf="AddCompany.get('name')!.hasError('required') && AddCompany.get('name')!.touched" class="error-message">
        Company Name is required
      </div>
    </div>

    <div class="form-input">
      <label for="company-location"><i class="fa fa-map-marker"></i> Company Location Adress</label>
      <input type="text" id="company-location" name="company-location" formControlName="address" required>
      <div *ngIf="AddCompany.get('address')!.hasError('required') && AddCompany.get('address')!.touched" class="error-message">
        Company Location Address is required
      </div>
    </div>

    <div class="form-input">
      <label for="company-phone"><i class="fa fa-phone"></i> Company Phone Number</label>
      <input type="tel" id="company-phone" name="company-phone" formControlName="phone" required>
      <div *ngIf="AddCompany.get('phone')!.hasError('required') && AddCompany.get('phone')!.touched" class="error-message">
        Company Phone Number is required
      </div>
      <div *ngIf="AddCompany.get('phone')!.hasError('pattern') && AddCompany.get('phone')!.touched" class="error-message">
        Please enter a valid phone number
      </div>
    </div>

    <div class="form-input">
      <label for="company-email"><i class="fa fa-envelope"></i> Company Email</label>
      <input type="email" id="company-email" name="company-email" formControlName="email" required>
      <div *ngIf="AddCompany.get('email')!.hasError('required') && AddCompany.get('email')!.touched" class="error-message">
        Company Email is required
      </div>
      <div *ngIf="AddCompany.get('email')!.hasError('email') && AddCompany.get('email')!.touched" class="error-message">
        Please enter a valid email address
      </div>
    </div>

    <div class="form-input">
      <label for="company-logo"><i class="fa fa-file-image-o"></i> Import Logo</label>
      <div class="col-sm-4 imgUp">
        <div class="imagePreview"></div>
        <label class="btn btn-primaryy">
          Upload<input type="file" class="uploadFile img" #uploadFile (change)="onFileSelected($event)" style="width: 0px;height: 0px;overflow: hidden;">
        </label>
        <div *ngIf="AddCompany.get('logo')!.hasError('required') && AddCompany.get('logo')!.touched" class="error-message">
          Logo is required
        </div>
      </div>
    </div>

    <div class="form-input">
      <button type="submit"  (click)="submitForm()"><i class="fa fa-send"></i> Submit</button>
    </div>
  </form>

</div>
