<div class="container mb-5 mt-5">
  <div class="card shadow-lg p-5">
    <p class="text-center mt-5 h3">Your access code is :</p>
    <h1 class="code-display">{{ Code }}</h1>
    <em class="text-center mt-5 h5">Please enter this code in your VR app to access your Noc Room</em>
    <em class="text-center h6 text-muted">Note that this code is temporary and will be deleted if you log out.</em>
    <div class="text-center mt-4">
      <button class="btn btn-dark" (click)="resendCode()">Generate New Code</button>
    </div>
  </div>
</div>
